*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to top, #256246, #438478, #6ea6a7, #a0c9d2, #d5ecf8);
}
button{
    font-size: 20px;
    font-weight: 800;
    color: #edf0f1;
    text-decoration: none;
    width: 200px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo{
    cursor: pointer;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color:  rgba(165, 162, 162, 0.623);
}
header{
    background-color: rgb(37, 98, 70);
}
button{
    padding: 9px 25px;
    background-color: rgb(9, 61, 35);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}
button:hover{
    background-color: rgba(116, 116, 116, 0.424);
}
li a{
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: seashell;
    
}
.nav2::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#fff;
    transition: width .3s;
}
.nav2:hover::after{
    width: 100%;
    transition: width .3s;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 10%;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    background:black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:  30px;
}
.btn:hover{
    background: lightslategray;
}
.header{
    background: linear-gradient(rgb(253, 172, 79),rgb(255, 255, 255));
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.title::after{
    content: '';
    background: orangered;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: black;
    font-weight: bold;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: black;
}
.col-4:hover{
    transform: translateY(-7px);
}

.footer{
    background: #002623;
    color: white;
    font-size: 14px;
    padding: 150px 0 20px
}
.footer p{
    color: white;
}
.footer h3{
    color: wheat;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-left: -100px;
    margin-top: -30px;
    position: relative;
}
.footer-col-1 h3 p{
    margin-left: -100px;
}
.footer-col-2{
    flex: 1;
    margin-top: -15px;
    margin-left: -100px;
}
.footer-col-3 , .footer-col-4{
    flex-basis: 12%;
    margin-top: -50px;
}
.footer-col-3{
    position: absolute;
}
ul{
    list-style: none;
}
.footer-col-1 img{
    width: 150px;
    margin-top: -100px;
}
